# Python
hiko-env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & logs
data/**/*.wav
*.log

# Local dev
.env
.DS_Store
.vscode/
.idea/

# Heavy assets not in Git
whisper.cpp/models/
whisper.cpp/build/
piper-voices/
seeed-voicecard/

# Output artifacts
out/
*.wav

